#root {
  width: 100vw;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-background-color: white;

  --primary-color-succsess-button: #4CAF50;
  --primary-color-delete-button: #EC5937;
  --primary-color-close-button: #737373;
  --primary-color-filter-button: #C4C4C4;

  --primary-color-main-font: #4E3000;
  --primary-color-list-font: black;

  --primary-color-present-visitor: #80BB00;
  --primary-color-absent-visitor: #EC5937;

  --primary-input-height: 42px;
  --primary-box-shadow:  0 1px 3px #c1c1c1;

  --primary-circles-size: 40px;

  --primary-dark-background-color: #121212;
  --primary-dark-font-color: #d5a890;
  --primary-dark-box-shadow:  0 1px 3px #000000;
}

@media (min-width: 1920px) {
  .Content {
    max-width: 2048px;
  }
}

.Content {
  flex: 1 1 auto;
  margin: 0 auto;
  width: 95%;
}

body {
  margin: 0;
  place-items: center;
  font-family: 'Open Sans', serif;
  font-weight: normal;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: var(--primary-dark-background-color);
  }
}