.input{
    color: var(--primary-color-main-font);
    font-size: 26px;
    display: grid;
    grid-template-columns: 30% auto;
    text-align: left;
    margin-bottom: 40px;
    justify-items: left;
    gap: 10%;
    z-index: 10000;
}

.input input[type='text']{
    border: none;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: var(--primary-box-shadow);
    height: var(--primary-input-height);
    width: 100%;
    box-sizing: border-box;
    padding-left: 5%;
}

.input input[type='checkbox']{
    height: 20px;
    width: 20px;
    border: none;
    float: left;
    margin: auto auto auto 0;
    cursor: pointer;
}