#button{
    max-width: 200px;
    min-width: 200px;
    width: 50%;
    border-radius: 5px;
    color: white;
    height: var(--primary-input-height);
    transition: 0.3s;
    box-shadow: var(--primary-box-shadow);
}

#button[value="Добавить"]:hover, #button[value="Закрыть"]:hover{
    opacity: 0.7;
}

#button[value="Добавить"]{
    background-color: var(--primary-color-succsess-button);
}

#button[value="Закрыть"]{
    background-color: var(--primary-color-close-button);
}

