main {
    width: 100%;
    min-height: 710px;
}

main table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

main table thead{
    color: var(--primary-color-main-font);
    font-size: 16px;
    border-bottom: 3px solid #E9E9E9;
}

main table tbody{
    font-size: 24px;
}

main table #absent{
    border-radius: 50%;
    background-color: var(--primary-color-absent-visitor);
    width: var(--primary-circles-size);
    height: var(--primary-circles-size);
    margin-left: auto;
    margin-right: auto;
}

main table #present{
    border-radius: 50%;
    background-color: var(--primary-color-present-visitor);
    width: var(--primary-circles-size);
    height: var(--primary-circles-size);
    margin-left: auto;
    margin-right: auto;
}

main table .present_cells{
    text-align: center;
}

main table tbody tr{
    height: 60px;
}
main table thead tr{
    height: 35px;
}

main table tbody td {
    box-sizing: border-box;
    padding: 0;
}

main table tbody tr:hover{
    cursor: pointer;
    background-color: #f8f8f8;
    transition: 0.3s;
}