main {
    width: 100%;
    min-height: 710px;
}

main table{
    width: 100%;
    text-align: left;
}

main table thead{
    color: var(--primary-color-main-font);
    font-size: 16px;
}

main table tbody{
    font-size: 24px;
}

main table #absent{
    border-radius: 50%;
    background-color: var(--primary-color-absent-visitor);
    width: var(--primary-circles-size);
    height: var(--primary-circles-size);
    margin-left: auto;
    margin-right: auto;
}

main table #present{
    border-radius: 50%;
    background-color: var(--primary-color-present-visitor);
    width: var(--primary-circles-size);
    height: var(--primary-circles-size);
    margin-left: auto;
    margin-right: auto;
}

main table .present_cells{
    text-align: center;
}

main table tr{
    height: 60px;
}

main table tbody{
    border-bottom: 20px solid black;
}