.modal_content_form{
    display: block;
    box-sizing: border-box;
    margin-left: 20%;
    margin-right: 10%;
}

.modal_content_form #buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: min-content min-content;
    gap: 1vw;
    margin-bottom: 30px;
}