header{
    background-color: white;
    height: 75px;
    width: 100%;
    box-sizing: border-box;
    max-width: 2048px;
    min-width: 1024px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
}

header .logo{
    height: 100%;
    padding: 0;
    margin-right: 1.56%;
}