header{
    background-color: white;
    height: 15%;
    width: 100vw;
    box-sizing: border-box;
    max-width: 2048px;
    position: fixed;
    top: 0;
    padding: 1.5% 2.44%;
    min-width: 1024px;
    display: flex;
    flex-flow: row wrap;
}

header .logo{
    height: 100%;
    padding: 0;
    margin-right: 1.56%;
}