#filter_button{
    height: 42px;
    font-size: 20px;
    border: none;
    padding: 0 15px;
    border-radius: 18px;
    margin-left: 1%;
    transition: background-color 0.3s, color 0.3s;
    color: var(--primary-color-main-font);
    background-color: white;
}

#filter_button:hover{
    background-color: var(--primary-color-filter-button);
    color: white;
}

#filter_button:focus{
    background-color: var(--primary-color-filter-button);
    color: white;
}