:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-background-color: white;

  --primary-color-succsess-button: #4CAF50;
  --primary-color-delete-button: #EC5937;
  --primary-color-close-button: #737373;
  --primary-color-filter-button: #C4C4C4;

  --primary-color-main-font: #4E3000;
  --primary-color-list-font: black;

  --primary-color-present-visitor: #80BB00;
  --primary-color-absent-visitor: #EC5937;

  --primary-input-height: 42px;
  --primary-box-shadow:  0 1px 3px #c1c1c1;
  --primary-circles-size: 40px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 1024px;
  min-height: 100px;
  font-family: 'Open Sans', serif;
  font-weight: normal;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}